.add_card_container {
    margin: 0 auto;
}

* {
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
    transition: all .5s .2s;
}

*::placeholder {
    color: rgba(0, 0, 0, 0.596);
}

.card_inp:focus {
    border-bottom: 3px solid #FBC02D;
    height: 60px;
}

.card_inp:hover {
    border-bottom: 3px solid #FBC02D;
    height: 60px;
}

.card_inp:focus::placeholder {
    font-weight: bold;
}

.card_inp {
    padding: 10px;
    background-color: #ffffff5c;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-bottom: 3px solid white;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.card_number_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_number_inp_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card_number_inp {
    width: 90%;
    display: inline;
    margin: 0;
}

.card_number_length {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-bottom: 3px solid white;
    background-color: #ffffff5c;
    color: white;
}

.cvv_card {
    width: 250px;
}

.year_card {
    width: 150px;
}

.month_card {
    width: 150px;
}

.card_number {
    padding: 10px;
    height: 50px;
    margin-top: 20px;
    background-color: #ffffff5c;
    color: white;
    border-radius: 5px;
    border-bottom: 3px solid white;
}

.card_number:focus {
    border-bottom: 3px solid #FBC02D;
    height: 60px;
}

.card_number:hover {
    border-bottom: 3px solid #FBC02D;
    height: 60px;
}

.card_number:focus::placeholder {
    font-weight: bold;
}

.Add_card_btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #43A047;
    color: white;
}




/* const newObjCard = {
    cardName: cardName,
    cardNumber: cardNumber,
    cvv2: cvv2,
    cardYear: cardYear,
    cardMonth: cardMonth,
    cardAmount: cardAmount
  }
  setNewCard([...newCard, newObjCard])
} */